In [1]:
import math
import pandas as pd
import numpy as np

In [2]:
matches = pd.read_csv("data/IPL_Matches_2008_2022.csv")
balls = pd.read_csv("data/IPL_Ball_by_Ball_2008_2022.csv")

In [3]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [4]:
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [5]:
balls.ID = balls.ID.astype(np.int32)
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int32(1), int64(8), object(8)
memory usage: 28.4+ MB

In [6]:
balls.innings = balls.innings.astype(np.int8)
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int32(1), int64(7), int8(1), object(8)
memory usage: 26.9+ MB

In [7]:
balls.overs = balls.overs.astype(np.int8)
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int32(1), int64(6), int8(2), object(8)
memory usage: 25.4+ MB

In [8]:
balls.ballnumber = balls.ballnumber.astype(np.int8)
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int32(1), int64(5), int8(3), object(8)
memory usage: 23.9+ MB

In [9]:
balls.batter = balls.batter.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(1), int32(1), int64(5), int8(3), object(7)
memory usage: 22.6+ MB

In [10]:
balls.bowler = balls.bowler.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(2), int32(1), int64(5), int8(3), object(6)
memory usage: 21.4+ MB

In [11]:
balls['non-striker'] = balls['non-striker'].astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(3), int32(1), int64(5), int8(3), object(5)
memory usage: 20.1+ MB

In [12]:
balls.batsman_run = balls.batsman_run.astype(np.int8)
balls.extras_run = balls.extras_run.astype(np.int8)
balls.total_run = balls.total_run.astype(np.int8)
balls.non_boundary = balls.non_boundary.astype(np.int8)
balls.isWicketDelivery = balls.isWicketDelivery.astype(np.int8)
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(3), int32(1), int8(8), object(5)
memory usage: 12.6+ MB

In [13]:
balls.player_out = balls.player_out.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   category
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(4), int32(1), int8(8), object(4)
memory usage: 11.3+ MB

In [14]:
balls.kind = balls.kind.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   category
 14  kind               11151 non-null   category
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: category(5), int32(1), int8(8), object(3)
memory usage: 9.8+ MB

In [15]:
balls.fielders_involved = balls.fielders_involved.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   category
 14  kind               11151 non-null   category
 15  fielders_involved  7988 non-null    category
 16  BattingTeam        225954 non-null  object
dtypes: category(6), int32(1), int8(8), object(2)
memory usage: 8.5+ MB

In [16]:
balls.BattingTeam = balls.BattingTeam.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   category
 14  kind               11151 non-null   category
 15  fielders_involved  7988 non-null    category
 16  BattingTeam        225954 non-null  category
dtypes: category(7), int32(1), int8(8), object(1)
memory usage: 7.0+ MB

In [17]:
balls.extra_type = balls.extra_type.astype('category')
balls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int32
 1   innings            225954 non-null  int8
 2   overs              225954 non-null  int8
 3   ballnumber         225954 non-null  int8
 4   batter             225954 non-null  category
 5   bowler             225954 non-null  category
 6   non-striker        225954 non-null  category
 7   extra_type         12049 non-null   category
 8   batsman_run        225954 non-null  int8
 9   extras_run         225954 non-null  int8
 10  total_run          225954 non-null  int8
 11  non_boundary       225954 non-null  int8
 12  isWicketDelivery   225954 non-null  int8
 13  player_out         11151 non-null   category
 14  kind               11151 non-null   category
 15  fielders_involved  7988 non-null    category
 16  BattingTeam        225954 non-null  category
dtypes: category(8), int32(1), int8(8)
memory usage: 5.5 MB